.apod-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.apod-date {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.apod-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.apod-description {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}