body {
    margin: 0;
}

.result {
  height: auto;
}

.apod-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.apod-date {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.apod-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.apod-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

.apod-description, 
.apod-copyright {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* .right-arrow {
    position: absolute;
    top: 370px;
    left: 1520px;
    width: 240px;
} */

.wrapper{
    min-height: 100vh;
    background: #eee;
    display: flex;
    flex-direction: column;
  }
  .header, .footer{
    height: 50px;
    background: rgb(150, 150, 150);
    color: #fff;
  }
  .content {
    display: flex;
    flex: 1;
    background: #eee;
    color: #000; 
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex: 1;
    order: 2;
    background: #eee;
    padding: 0 10%;
  }
  .sidebar-first{
    width: 15%;
    background: #eee;
    order: 1;
    height: 100vh;
  }
  .sidebar-second{ 
    width: 15%;
    order: 3;
    background: #eee;
    height: 100vh;
  }

  .arrow { 
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .left-arrow {
    transform: rotate(180deg);
  }
  /* https://stackoverflow.com/a/7310398 */
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}